@tailwind base;
@tailwind components;
@tailwind utilities;
/*body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.form_container {
    background-color: #ffffff;
    border: 1px solid #272885;
    border-radius: 5px;
    margin-top: 20px;
    padding: 50px;
}

form {
    margin-top: 20px;
}

.input-field {
    position: relative;
    margin-bottom: 40px;
}

label {
    position: absolute;
    top: -17px;
    left: 0;
    color: #666666;
    transition: 0.3s;
    pointer-events: none;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 14px;
}

input[type="text"]:focus + label,
input[type="email"]:focus + label,
input[type="password"]:focus + label {
    top: -20px;
    font-size: 15px;
    color: #82b0ff;
}

button {
    background-color: #82b0ff;
    color:#272885;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition-duration: 0.4s;
    border: none;
}

button:hover {
    background-color: #82b0ff;
    color: white;
}

.underlined_text {
    margin-top: 20px;
    text-decoration: underline;
    color: #82b0ff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
}*/
