body {
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.main_menu {
    border: 2px solid #CCCCCC;
    border-radius: 10px;
    padding: 20px;
}

h1 {
    color: #333333;
}

p {
    color: #666666;
    margin-bottom: 10px;
}

button {
    background-color: #82b0ff;
    color: #272885;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition-duration: 0.4s;
    border: none;
}

button:hover {
    background-color: #a7def5;
}